<h>Add recipe</h>
<br>
<form action="/create" method="post">
    Menu: <input type="text" name="menu"><br>
    Ingredient: <input type="text" name="ingredient"><br>
    Recipe: <input type="text" name="recipe"><br>
    country:
    <select name="country">
        <option value="Africa">Africa</option>
        <option value="Asia">Asia</option>
        <option value="Austrailia/Oceania">Austrailia/Oceania</option>
        <option value="North America">North America</option>
        <option value="South America">South America</option>
        <option value="Europe">Europe</option>
    </select><br>
    rate:
    <select name="rate">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
    </select><br>
    <input type="submit"/>
</form>
<a href="/main"></a>