<html class="backgroud">
<div>    
<h1>What's In My Fridge</h1>
<body>
<!--

<form method="get" action='/result'>
    Email:<input type="email" name="useremail"/><br>
    Password<input type="password" name="userpass"/><br>
</form>
-->
<div class=url1>
<a href='/aboutus' style="text-decoration:none">About us</a>
<a href='/contactus' style="text-decoration:none">Contact us</a>
<a href='/users/sign_in' style="text-decoration:none">Login</a>
</div>

</body>

</div>
</html>