<html class='background1'>
<body style="background-color: #ce6839">
  

<div class='url3'>
  
<h2>Select How You Feel!</h2>
<table id="fridges">
  <thead>
    <tr></tr>
    <p class='border'>
  </thead>
  <%= link_to 'Go to my profile page', '/profile' %>
  <br/>

  <%= link_to 'Let me explore the world!', '/countries' %>
  <br/>
  </p>
</table>
</div>
  <%= link_to 'Log Out', '/users/sign_out' %>
  <br/>
  
</body>

</html>