<div class='url2'>
<h2>About us</h2>

<p>This is a food suggestion app for those who are struggle in deciding what to eat for their meal from the ingredient they have.</p>

<a href='/' style="text-decoration:none"> Go back to Login page</a>
</div