<div class='url2' >
<h2>Contact Us</h2>

<p>This app is intended for IT 484 group project from Minnesota State University Mankato</p>

<br>

<p>Email: sunkyeong.lee@mnsu.edu <br>
    raphael.morgan@mnsu.edu <br>
    tania.hasanpoor@mnsu.edu

</p>

<a href = '/' style="text-decoration:none">Go back to Login page</a>
</div>